body{
    background-color: #150442;
    color: #fff;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 30px;
    font-weight: 400;
    
}
.user-container{
    height: 40%;
    width: 20%rem;
    padding: .5rem;
    margin: .5rem;
    justify-content: center;
    align-items: center;
    left: 30%;
    position: relative;
}
.input-field{
    width: 25rem;
    height: 15rem;
    background-color: aliceblue;
    color: black;
    margin: 2rem;
    padding: 2rem;
    border-radius: 20px solid black;
    }
.form-container{
    height: 40%;
    width: 20%rem;
    padding: .2rem;
    margin: .2rem;
    justify-content: center;
    align-items: center;
    left: 30%;
    position: relative;
}
input{
    width: 40%;
    padding: 10px;
    margin: 5px 20px;
    border-radius: 10px;
}
.btn{
    display: flex;
}
.onclick-btn{
    display: flex;
}
#delete{
    width: 20%;
    margin: 10px 20px;
    padding: 10px;
    text-align: center;
    justify-content: center;
    background-color: rgb(238, 35, 9);
    color: #fff;
    cursor: pointer;
}
#edit{
    width: 20%;
    margin: 10px 20px;
    padding: 10px;
    text-align: center;
    justify-content: center;
    background-color:  cornflowerblue;
    color: #fff;
    cursor: pointer;
}
 #addUser {
    display: flex;
    width: 10%;
    margin: 5px 20px;
    padding: 10px;
    text-align: center;
    justify-content: center;
    background-color: cornflowerblue;
    color: #fff;
    cursor: pointer;

}
#update {
    display: flex;
    position: relative;
    width: 10%;
    left: 19%;
    margin: 5px 20px;
    padding: 10px;
    text-align: center;
    justify-content: center;
    background-color: cornflowerblue;
    color: #fff;
    cursor: pointer;

}
#update:hover{
    background-color: rgb(46, 68, 109);
}
#addUser:hover{
    background-color: rgb(61, 92, 150);
}
h3{
    width: 60%;
    margin: 10px 20px;
}
